@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root
{
  --clr: #222327;
  --clr1: #fff;
  --clr2: #1e9bff;
  --clr3: #E0FFFF;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr);
  padding-top: 40px;
  margin-left: 1em;
  margin-right: 1em;
  flex-direction: column;
}
.bnav{
  position: relative;
  width: 100%;
  height: 73px;
  background: var(--clr1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
  border: 2px solid var(--clr);
}
.bnav .contenaire{
  display: flex;
  width: 350px;
}
.bnav .contenaire .list{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.bnav .contenaire .list .lien{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.bnav .contenaire .list .lien .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.bnav .contenaire .list.active .lien .icon{
  transform: translateY(-32px);
}
.bnav .contenaire .list .lien .text{
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.bnav .contenaire .list.active .lien .text{
  opacity: 1;
  transform: translateY(10px);
}
.nav.fixed{
  position:fixed;
  top:0;
  z-index:1000;
}
.indic{
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--clr2);
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.bnav .contenaire .list:nth-child(1).active ~ .indic{
  transform: translateX(calc(70px * 0));
}
.bnav .contenaire .list:nth-child(2).active ~ .indic{
  transform: translateX(calc(70px * 1));
}
.bnav .contenaire .list:nth-child(3).active ~ .indic{
  transform: translateX(calc(70px * 2));
}
.bnav .contenaire .list:nth-child(4).active ~ .indic{
  transform: translateX(calc(70px * 3));
}
.bnav .clogo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  padding-right: 5em;
}
.logo{
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10% / 30%;
  box-shadow: 0 0 35px var(--clr2);
}
.pagehead{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5em;
  background: var(--clr);
  border-radius: 10px;
  box-shadow: 0 0 35px var(--clr2);
  overflow: hidden;
}
.pagehead::before{
  content:'';
  position: absolute;
  width: 150px;
  height: 2000%;
  background: var(--clr2);
  animation: animate1 4s linear infinite;
}
.pagehead::after{
  content:'';
  position: absolute;
  inset: 4px;
  background: var(--clr1);
  border-radius: 10px;
}
@keyframes animate1{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
.pagehead h1{
  position: relative;
  z-index: 10;
}
.pagehead h2{
  position: relative;
  z-index: 10;
}
h1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: var(--clr2);
}
h2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  color: var(--clr2);
}
.contenfond{
  position: absolute;
  display: flex;
  width: 100%;
  height: 200vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.bulle{
  position: relative;
  display: flex;
}
.bulle .xbul{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bulle .xbul:nth-child(even){
  background: var(--clr2);
  box-shadow: 0 0 0 10px #1e9bff44, 0 0 50px var(--clr2), 0 0 100px var(--clr2);
}
@keyframes animate{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}
