@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root
{
  --clr: #222327;
  --clr1: #fff;
  --clr2: #1e9bff;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr);
  padding-top: 40px;
  margin-left: 1em;
  margin-right: 1em;
  flex-direction: column;
}
.bnav{
  position: relative;
  width: 100%;
  height: 73px;
  background: var(--clr1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 11;
  border: 2px solid var(--clr);
}
.bnav .contenaire{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}
.bnav .contenaire .list{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.bnav .contenaire .list .lien{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.bnav .contenaire .list .lien .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.bnav .contenaire .list.active .lien .icon{
  transform: translateY(-32px);
}
.bnav .contenaire .list .lien .text{
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.bnav .contenaire .list.active .lien .text{
  opacity: 1;
  transform: translateY(10px);
}
.nav.fixed{
  position:fixed;
  top:0;
  z-index:1000;
}
.indic{
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--clr2);
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.bnav .contenaire .list:nth-child(1).active ~ .indic{
  transform: translateX(calc(70px * 0));
}
.bnav .contenaire .list:nth-child(2).active ~ .indic{
  transform: translateX(calc(70px * 1));
}
.bnav .contenaire .list:nth-child(3).active ~ .indic{
  transform: translateX(calc(70px * 2));
}
.bnav .contenaire .list:nth-child(4).active ~ .indic{
  transform: translateX(calc(70px * 3));
}
.bnav .clogo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  padding-right: 5em;
}
.logo{
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10% / 30%;
  box-shadow: 0 0 35px var(--clr2);
}

.bnavscroll{
  position: fixed;
  width: 5%;
  height: 500px;
  top: 0px;
  left: 0px;
  background: var(--clr1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  z-index: 11;
  border: 2px solid var(--clr);
}
.bnavscroll .contenaire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.bnavscroll .contenaire .list{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.bnavscroll .contenaire .list .lien{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.bnavscroll .contenaire .list .lien .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.bnavscroll .contenaire .list.active .lien .icon{
  transform: translateX(55px);
}
.bnavscroll .contenaire .list .lien .text{
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
}
.indicscroll{
  position: absolute;
  top: 108px;
  left: 65px;
  width: 70px;
  height: 70px;
  background: var(--clr2);
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.bnavscroll .contenaire .list.active .lien .text{
  opacity: 1;
  transform: translateX(-10px);
}
.bnavscroll .contenaire .list:nth-child(1).active ~ .indicscroll{
  transform: translateY(calc(70px * 0));
}
.bnavscroll .contenaire .list:nth-child(2).active ~ .indicscroll{
  transform: translateY(calc(70px * 1));
}
.bnavscroll .contenaire .list:nth-child(3).active ~ .indicscroll{
  transform: translateY(calc(70px * 2));
}
.bnavscroll .contenaire .list:nth-child(4).active ~ .indicscroll{
  transform: translateY(calc(70px * 3));
}
.bnavscroll .clogo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-right: 5em;
}

.pagehead{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5em;
  background: var(--clr1);
  border-radius: 10px;
  box-shadow: 0 0 35px var(--clr2);
}
h1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: var(--clr);
}
h2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  color: var(--clr);
}
.contenfond{
  position: absolute;
  display: flex;
  width: 100%;
  height: 290vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.bulle{
  position: relative;
  display: flex;
}
.bulle .xbul{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(200s / var(--i));
}
.bulle .xbul:nth-child(even){
  background: var(--clr2);
  box-shadow: 0 0 0 10px #1e9bff44, 0 0 50px var(--clr2), 0 0 100px var(--clr2);
}
@keyframes animate{
  0%
  {
    transform: translateY(250vh) scale(0);
  }
  100%
  {
    transform: translateY(-170vh) scale(1);
  }
}
.secbod{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: var(--clr1);
  border-radius: 10px;
  margin-top: 5em;
}
.titre{
  background: var(--clr1);
  box-shadow: 0 0 35px var(--clr2);
  border-radius: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  top: -35px;
}
.cserv{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.dser{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  flex: 1 1 0;
}
.simage{
  width: 20%;
  height: auto;
  margin-bottom: 2em;
}
.ctar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99%;
  height: auto;
  background: var(--clr);
  margin-bottom: 1em;
  border-radius: 10px;
}
.dtar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  flex: 1 1 0;
  background: var(--clr1);
  border-radius: 10px;
  padding: 1em;
  overflow: hidden;
}
.dtar1{
  padding: 1.9em;
}
.dtar::after{
  content: '';
  position: absolute;
  flex-wrap: wrap;
  inset: 2px;
  background: var(--clr);
  border-radius: 9px;
}
.d1tar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2em;
}
.itar{
  border-radius: 50%;
  width: 40%;
  height: auto;
  box-shadow: 0 0 35px var(--clr2);
  z-index: 1;
}
.ttar{
  color: var(--clr1);
  z-index: 1;
}
.dteam{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
  width: 60%;
  height: auto;
  background: var(--clr);
  border-radius: 10px;
  padding: 1em;
}
.dcteam{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 0;
  background: var(--clr1);
  overflow: hidden;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}
.dcteam1{
  padding: 1.2em;
}
.dcteam::after{
  content: '';
  position: absolute;
  inset: 2px;
  background: var(--clr);
  border-radius: 9px;
}
.diteam{
  border-radius: 50%;
  width: 50%;
  height: auto;
  box-shadow: 0 0 35px var(--clr2);
  z-index: 1;
}
.tteam{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: var(--clr1);
  z-index: 1;
}
.secbod1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: url(../assets/img/letter.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  margin-top: 5em;
}
.dccont{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  width: 60%;
  height: auto;
  border-radius: 10px;
  padding: 1em;
}
.dcont{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 0;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  width: 100%;
  height: auto;
}
.dcont1{
  position: relative;
  display: flex;
}
.dcont2{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height: auto;
  background: var(--clr);
  border-radius: 10px;
  margin: 1em;
}
.dcont2::after{
  content: '';
  position: absolute;
  inset: 2px;
  background: var(--clr1);
  border-radius: 9px;
}
.icont{
  border-radius: 50%;
  width: 100%;
  height: auto;
  box-shadow: 0 0 35px var(--clr2);
  z-index: 1;
}
.tcont{
  font-size: 2em;
  z-index: 1;
}

.bouton{
  position: relative;
  background: var(--clr);
  color: var(--clr);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  border-radius: 10% / 30%;
}
.bouton:hover{
  letter-spacing: 0.25em;
  background: var(--clr2);
  color: var(--clr2);
  box-shadow: 0 0 35px var(--clr2);
}
.bouton::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: var(--clr1);
  border-radius: 10% / 30%;
}
.bouton .boutanim{
  position: relative;
  z-index: 1;
}
.bouton i{
  position: absolute;
  inset: 0;
  display: block;
}
.bouton i::before{
  content: '';
  position: absolute;
  top: -6px;
  left: 80%;
  width: 10px;
  height: 10px;
  border: 2px solid var(--clr2);
  background: var(--clr1);
  transform: translateX(-50%);
  transition: 0.5s;
  border-radius: 100%;
}
.bouton:hover i::before{
  left: 20%;
}
.bouton i::after{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 20%;
  width: 10px;
  height: 10px;
  border: 2px solid var(--clr2);
  background: var(--clr1);
  transform: translateX(-50%);
  transition: 0.5s;
  border-radius: 100%;
}
.bouton:hover i::after{
  left: 80%;
}
.cfin{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: var(--clr1);
  border-radius: 10px;
  margin-top: 2em;
}
.dfin{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 0;
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  height: auto;
}
.logo-button{
  margin: 0.5em;
}
